/* border: solid red 1px; */
html{
    font-family: Arial, Helvetica, sans-serif;
}
nav, body, main{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
    /* background:linear-gradient(50deg, rgb(255, 255, 255), rgb(255, 255, 255), rgba(183, 183, 183, 0.663) ); */
}
nav, main, #home, #about, #service{
    height: 100vh;
    border: solid transparent 1px;
}
main{
    scroll-behavior: smooth;
}
/* Navigation bar */
nav{
    text-align: center;
    border-right: solid gray 1px;
    box-shadow: 3px 3px 34px 3px black;
    /* position: fixed; */
}
.myPhoto{
    width: 13rem;
    height: 13rem;
    margin-top: 2rem;
    /* border: solid red 1px; */
    border-radius: 50%;
    /* filter:invert(90%); */
}
.name{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(220, 0, 121);
    margin-bottom: 1rem;
}
.icons img{
    width: 1.5rem;
    height: 1.5rem;
    /* filter:invert(85%); */
}
nav hr{
    width: 85%;
}
.nav-links a{
    display: block;
    margin:1.2rem 0;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: 300ms;
}
.nav-links a:first-child{
    margin-top: 2rem;
}
.nav-links a:hover{
    cursor: pointer;
    color: rgb(234, 0, 140);
}
main{
    overflow-y: scroll;
}
.introduction{
    /* color: white; */
    font-size: 4rem;
    margin: 15rem 0 0 4rem;
}
.into-p{
    /* color: rgb(194, 194, 194); */
    font-size: 1.3rem;
    margin-left: 6rem;
}
main button{
    font-size: 1rem;
    color: rgb(242, 242, 242);
    width: 8rem;
    padding:0.5rem;
    font-weight: bold;
    margin-top: 2rem;
    white-space: nowrap;
    background-color: rgb(21, 0, 32);
    outline: transparent;
    border: 1px solid rgb(21, 0, 32);
    border-radius: 25px;
    transition: 300ms;
}
main button:hover{
    color:rgb(21, 0, 32);
    background: transparent;
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}
/* #home, #about{ */
    /* border-bottom: solid 1px rgb(255, 40, 194); */
/* } */
/* about section */

#about h2, #service h2{
    text-align: center;
    font-size: 3rem;
    margin-top: 8rem;
}
.about-div, .service-div{
    border: solid gray 1px ;
    height: 20rem;
    margin:0 3rem;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 3px 5px 10px black;
}
.service-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.service-titles{
    border-right: solid gray 3px;
    padding:0.5rem;
    padding-left: 2rem;
    text-align: left;
}
.technologies{
    /* border: solid red 1px; */
    padding:2.5rem 0.5rem 0.5rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.technologies img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 15px;
}
.about-name{
    color: rgb(234, 0, 140);
    font-weight: bolder;
}
