html{
    scroll-behavior: smooth;
}
html, section, main, body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
}
nav div{
    display: flex;
}
nav h2, nav p{
    margin: 0;
}
nav div:first-of-type{
    margin-left: 3rem;
}
nav div:first-of-type img{
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(100%);
    margin-right: 1rem;
}
nav h2{
font-size: 2.2rem;
}
nav div:nth-of-type(2){
    margin-right: 5rem;
}
nav p{
    font-size: 1.4rem;
    margin-left: 1.6rem;
    padding: 0.3rem 1rem;
    border-bottom: solid rgba(0, 0, 0, 0) 1px;
    transition: 250ms;
    cursor: pointer
}
nav p:hover{
    border-bottom-color: white;
}
/*  */
.section-home{
    height: 100vh;
}
.home-divs-wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.home-left-div{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-left-div-text-wrapper{
    border: solid 2px rgb(0, 0, 0);
    width: 85%;
    text-align: center;
    margin-top: 4.5rem;
}
.home-left-div-text-wrapper h2{
    margin-top: 4rem;
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.6rem;
    line-height: 3rem;
}
.home-left-div-text-wrapper hr{
    margin: 0 auto;
    border: solid 1px black;
    width: 80%
}
.home-left-div-text-wrapper p{
    width: 70%;
    margin: 2rem auto 0 auto;
    font-size: 1.35rem;
    letter-spacing: 0.05rem;
    text-align: justify;
}
.home-left-div-text-wrapper button{
    margin: 2rem 0 4rem 0;
    font-size: 1.1rem;
    padding: 0.7rem 3rem;
    background-color: rgb(20, 20, 20);
    color: white;
    border: solid 1px transparent;
    outline: none;
    transition: 250ms;
    cursor: pointer;
}
.home-left-div-text-wrapper button:hover{
    background-color: white;
    color: black;
    border: solid 1px black;
}
.home-right-div img{
    width: 100%;
    height: 100%;
}
/*  */
.intern-hr{
    margin: 2.5rem auto 0 auto;
    width: 75%;
    border: solid 2px black
}
/* my work */
.section-my-work, .section-skills{
    padding-top: 5rem;
}
.project-container{
    /* border: solid 1px rgb(2, 185, 185); */
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    margin: 2.5rem 0;
    margin-bottom: 5rem;
}
.project-container:nth-of-type(2){
    grid-template-columns: 1fr 0.75fr;
}
.project-text-container{
    /* border: solid 1px yellow; */
    height: fit-content;
}
.project-text-container h3{
    font-size: 2.75rem;
    text-align: center;
    margin: 3rem  0 0 0;
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
}
.project-text-container .dot-div{
    width: 0.5rem;
    height: 0.5rem;
    margin: 1rem  auto;
    background-color: black;
    border-radius: 50%;
}
.project-text-container p{
    font-size: 1.5rem;
    width: 75%;
    margin: 1.5rem auto;
    text-align: justify;
    letter-spacing: 0.1rem;
    /* word-spacing: 0.2rem; */
}
.project-container button{
    font-size: 1.1rem;
    padding: 0.5rem 2.5rem;
    display: block;
    margin: 3rem auto 2rem auto;
    border: solid 1px rgb(37, 37, 37);
    background-color: white;
    transition: 250ms;
    cursor: pointer;
}
.project-container button:hover{
    background-color: rgb(37, 37, 37);
    color: white;
}
.project-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-img-container img{
    width: 90%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}
/* section skills */
.section-skills{
    /* height: 100vh; */
}
.section-skills h3, .section-communication h3{
    /* display: inline-block; */
    font-size: 2.75rem;
    /* margin: 3rem  0 2rem 1.7rem; */
    margin: 3rem auto 2rem auto;
    text-align: center;
    width: calc(100% - 13.4rem);
    letter-spacing: 0.15rem;
    word-spacing: 0.3rem;
    padding: 0 1.3rem 1.5rem 1.3rem;
    border-bottom: solid 1px black;
}
.skills-wrapper{
    padding: 0 5rem 1rem 5rem;
    width: calc(100% - 13.4rem);
    display: flex;
    justify-content: space-between;
    margin: 4rem  0 0 1.7rem;
}
.current-skill{
    /* border-bottom: solid rgb(0, 0, 0) 1px; */
    width: 100%;
    margin: 0;
    text-align: center;
}
.current-skill img{
    width: 8rem;
    height: 8rem;
}
.current-skill p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
.skills-tech{
    border-top: solid 1px;
    margin: 0rem auto 8rem auto;
    width: 75%;
    padding: 2.5rem 0 0 0 ;
    display: flex;
    justify-content: space-evenly;
}
.skills-tech img{
    width: 3.5rem;
    height: 3.5rem;
}
/* section communication */
/* h3 is with skills section */

.section-communication{
    /* padding: 5rem 0 0 0; */
    /* border: solid 1px; */
    height: auto;
}
.contact-container{
    /* margin-top:  4rem; */
    width: calc(100% - 14rem);
    /* background-color: rgb(41, 41, 41); */
    background: linear-gradient(90deg, rgb(10, 10, 10), rgb(20, 20, 20), rgb(10, 10, 10));
    padding: 2rem 7rem 1rem 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: inset 5px 5px 15px black;
}
.contact-container div{
    width: 90%;
    padding: 1rem 0 0.5rem 1.5rem;
    margin: 1rem 0 0.5rem 0;
    border-left: solid white 2px;
}
.contact-container span{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.contact-container h4{
    margin: 0;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.05rem;
    word-spacing: 0.5rem;
    color: rgb(212, 211, 211)
}
.contact-container p{
    margin: 0;
    margin-left: 0.8rem;
    color: white;
    display: inline;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    line-height: 1.7rem;
    transition: 250ms;
    cursor: pointer;
}
.contact-container p:hover{
    color: rgb(139, 139, 139);
}
.contact-container img{
    width: 1rem;
    height: 1rem;
    filter: invert(100%);
}
/*  */
footer{
    background-color: rgb(7, 7, 7);
}
footer p{
    margin: 0;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0px -3px 10px rgb(7, 7, 7);
    letter-spacing: 0.1rem;
}
footer p a{
    color: rgb(185, 185, 185);
    transition: 250ms;
}
footer p a:visited{
    color: rgb(185, 185, 185)
}
footer p a:hover{
    color: rgb(139, 139, 139);

}
